<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Date</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,600;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="date.css">
   
</head>
<body>
    <div class="container">
       <div class="seperate">
        <div class="card">
          <div class="face face1">
            <div class="content">
              <span class="stars"></span>
              <h2 class="start">Registration Start:</h2>
              <p class="start">
                Registrations starts, register yourself as soon as possible.</p>
            </div>
          </div>
          <div class="face face2">
            <h2>5th
              February</h2>
          </div>
        </div>
      
        <div class="card">
          <div class="face face1">
            <div class="content">
              <span class="stars"></span>
              <h2 class="end">Registration Ends:</h2>
              <p class="end">
                Registrations ends, get your name registered by this date</p>
            </div>
          </div>
          <div class="face face2">
            <h2>To Be
              Announced</h2>
          </div>
        </div>
     
       </div>
        
        
         <div class="seperate-2">
          <div class="card">
            <div class="face face1">
              <div class="content">
                <span class="stars"></span>
                <h2 class="hack">Hackathon Starts:</h2>
                <p class="hack"> 
                  Get your programming skills ready as the event will start soon.</p>
              </div>
            </div>
            <div class="face face2">
              <h2>5th
                March</h2>
            </div>
          </div>
          <div class="card">
            <div class="face face1">
              <div class="content">
                <span class="stars"></span>
                <h2 class="hack">Hackathon Ends:</h2>
                <p class="hack"> 
                  Get your programming skills ready as the event will start soon.</p>
              </div>
            </div>
            <div class="face face2">
              <h2>To Be
                Announced</h2>
            </div>
          </div>
       
         </div>
    
    </div>
</body>
</html>











 